

table,th,td {
    border : 1px solid black;
    border-collapse: collapse;
    text-align: center;
    
  }
  
   .wrapper
  {
    width: 19%;
      margin: auto;
      text-align: right;
      background-color: rgb(177, 238, 238);
      padding: 2%;
      border : 5px solid  rgb(18, 69, 122);
      border-radius: 10%;
      font-family: Bradley Hand, cursive;
  }
input{
    margin:2%;
}
button{
  color: #fff;
  text-decoration: none;
  user-select: none; 
  background: rgb(18, 69, 122);
  padding: .7em 1.5em;
  outline: none; 
  /* font-size: 1vw; */
  
  
} 
button:hover { background: rgb(165, 193, 209); } 
button:active { background: rgb(84, 64, 155); } 