.wrapper{
    width: 100%;
    height: 100%;
}
.first-item
{
    position: absolute;
    z-index: -1;
    background-color: #ffc5fa;
    width: 39%;
    height: 48%;
}
.second-item
{
    position: absolute;
    z-index: 1;
    background-color: slategray;
    width: 39%;
    height:48%;
    top:20%;
    left: 30%;

}
.third-item
{
    position: absolute;
    z-index: -1;
    background-color: crimson;
    width: 39%;
    height: 48%;
    top:50%;
    left:60%

}