button{
    color: #fff;
    text-decoration: none;
    user-select: none; 
    background: rgb(42, 141, 172);
    padding: .7em 1.5em;
    outline: none; 
    /* font-size: 1vw; */
    margin-top:30px;
    border-radius: 30px;
    font-family: Bradley Hand, cursive;
    
  } 
  button:hover { background: rgb(165, 193, 209); } 
  button:active { background: rgb(132, 173, 179); } 
  table,th,td {
    border : 1px solid black;
    border-collapse: collapse;
    text-align: center;
        
  }

  .wrapper
  {
      background-color:  rgba(42, 141, 172,0.4);
      width: 800px;
      margin:auto;
      text-align: center;
      height: 100px;
      border-radius: 40px;
      border: 4px double rgb(2, 2, 2); 
  }