body {
    text-align: center;
}

#initialPage,
#flexBox {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(104, 118, 201);
    padding: .7em 1.5em;
    outline: none;
    margin-top: 20%;
}

#initialPage:hover {
    background: rgb(155, 194, 209);
}

#flexBox:hover {
    background: rgb(155, 194, 209);
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container>div {
    background-color: #d496c7;
    border: 4px double black;
    border-radius: 10px;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
}

@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
}